* {
  font-family: 'Roboto', sans-serif;
}

.title {
    font-weight: 300;
    font-size: 48px;
}

.subtitle {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 40px;
}

.section_title {
  font-weight: 400;
  font-size: 24px;
  margin-top: 48px;
}

.content {
  width: 600px;
  margin: auto;
  padding: 20px; 
  position: relative;
  margin-bottom: 100px;
}

.code {
}

.code * {
  font-size: 14px;
  font-family: 'Droid Sans Mono', sans-serif;
  font-weight: normal;
}

p {
  font-weight: 300;
  font-size: 16px;
  color: #333;
}

p.license {
  font-weight: 300;
}

.header {
  padding-left: 0px;
  position: relative;
}

.usage {
  position: relative;
  min-height: 75px;
  display: table;
  margin-bottom: 20px;
}

.usages {
}

.usage .description {
  min-height: 75px;
  margin: 0;
  padding-left: 85px;
  display: table-cell;
  vertical-align:middle;
}

a.app_link {
  color: #333;
  font-weight: 400;
}

.logo {
  width: 75px;
  height: 75px;
  display: block;
  background-size: 75px 75px;
}

.logo.rebound {
  background-image: url(../images/rebound.png);
  position: absolute;
  left: -85px;
  top: 0px;
}

.usage .logo {
  position: absolute;
  left: 0px;
  top: 0px;
}

.logo.jelly {
  background-image: url(../images/jelly.png);
}

.logo.perka {
  background-image: url(../images/perka.png);
}

.logo.home {
  background-image: url(../images/home.png);
}

.logo.inflikr {
  background-image: url(../images/inflikr.png);
}

.logo.linkedin {
  background-image: url(../images/linkedin.png);
}

.logo.messenger {
  background-image: url(../images/messenger.png);
}

@media (-webkit-min-device-pixel-ratio: 2),
(min--moz-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {

  .logo.rebound {
    background-image: url(../images/rebound_2x.png);
  }

  .logo.jelly {
    background-image: url(../images/jelly_2x.png);
  }

  .logo.perka {
    background-image: url(../images/perka_2x.png);
  }

  .logo.home {
    background-image: url(../images/home_2x.png);
  }

  .logo.inflikr {
    background-image: url(../images/inflikr_2x.png);
  }

  .logo.inflikr {
    background-image: url(../images/linkedin_2x.png);
  }

  .logo.messenger {
    background-image: url(../images/messenger_2x.png);
  }

}
