<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.facebook.rebound.example"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="11"/>
    <application android:label="@string/app_name" android:hardwareAccelerated="true">
        <activity android:name="com.facebook.rebound.example.MainActivity"
                  android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
                  android:icon="@drawable/rebound_icon"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
